DATABASE_URL="postgresql://p2b_user:p2b_pass@db:5432/p2b_db"
JWT_SECRET="votre_secret_jwt_ici"
PORT=3000

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=etnair-images